@font-face {
  font-family: 'iconfont';  /* Project id 638266 */
  src: url('//at.alicdn.com/t/font_638266_k46s5do8wzi.woff2?t=1641357183894') format('woff2'),
       url('//at.alicdn.com/t/font_638266_k46s5do8wzi.woff?t=1641357183894') format('woff'),
       url('//at.alicdn.com/t/font_638266_k46s5do8wzi.ttf?t=1641357183894') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail_default:before {
  content: "\e716";
}

.icon-facebook_default:before {
  content: "\e6fd";
}

.icon-zhihu_default:before {
  content: "\e6fe";
}

.icon-dribbble_default:before {
  content: "\e6ff";
}

