.gallery {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}


.assets_thumbnail {
  background-color: #ffffff;
  display: inline-flex;
  margin-left: 40px;
  margin-top: 10px;
  margin-right: 40px;
}

.title{
  font-family: PingFangSC-Semibold;
  font-size: 22px;
  color: #FFFFFF;
  letter-spacing: 0.22px;
  margin-top: 100px;
  margin-bottom: 10px;
  margin-left: 40px;
}
