*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

.header {
  height: 64px;
  width: auto;
  background-color: #2C2C2C;
  box-shadow: 0 2px 12px 0 #141619;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: 1;
}

.brand {
  font-family: 'Arial Rounded MT Bold', PingFangSC-Regular;
  font-size: 28px;
  color: #5E6164;
  letter-spacing: 0.39px;
  line-height: 28px;
  position: absolute;
  left: 25px;
  top: 15px;
  text-decoration: none;
  width: 100px;
}

.ul{
  position: absolute;
  font-family: 'Arial Rounded MT Bold', Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #C7C7C7;
  letter-spacing: 0.25px;
  text-align: left;
  line-height: 22px;
  left: 20px;
  top: 2px;
  text-decoration: none;
  width: 300px;
}

.ul li{
  float: left;
  display: table-caption;
  width: 120px;
}

.ul li a{
  font-family: Arial, PingFangSC-Regular;
  font-size: 18px;
  color: #C7C7C7;
  text-align: center;
  text-decoration: none;
  width: 120px;
  transition: all .3s;
}

.ul li a:hover,
.ul li a.active{
  font-family: 'Arial Rounded MT Bold', PingFangSC-Medium;
  /* font-size: 20px; */
  transform: scale(1.2);
  
  color: #FFFFFF;
  text-align: center;
  cursor:pointer;
  text-decoration: none;
}



.topdevider{
  height: 80px;
  width: auto;
  position: relative;
  top: 50px;
} 


  /* main content */
.main {
  position: relative;
  width: 1050px;
  /* top: 50px; */
  margin-left: auto;
  margin-right: auto;
  scroll-behavior: smooth;
  padding-top: 114px;
}

.introduce {
  position: relative;
  display: flex;
}

.introduce-box{
  position: absolute;
  top: 0;
  left: 550px;
}


.portrait {
  height: 500px;
  width: 500px;
  background-color: #454646;
  position: relative;
  /* top: 56px; */
  margin: 57px 0;
  transition: 0.3s;
}
.portrait > .img {
  width: 500px;
  height: 500px;
  background-size: cover;
  background-image: url('pics/portrait.jpg');
  /* background-image: url(data:image/gif;base64,R0lGODlhBAABAIABAMLBwfLx8SH5BAEAAAEALAAAAAAEAAEAAAICRF4AOw==); */
}


.introduce-big {
  position: relative;
  /* top: -412px;
  left: 550px; */
  width: 500px;
  font-size: 38px;
  font-style: italic;
  color: #ffffff;
  font-family: 'Arial Rounded MT Bold', PingFangSC-Medium;
  letter-spacing: 0.34px;
  line-height: 32px;
  margin: 0 0 20px;
  cursor: text;
}

.introduce-text{
  position: relative;
  margin: 0;
  width: 500px;
  letter-spacing: 0.8px;
  font-family: Arial, PingFangSC-Regular;
  font-weight: 300;
  /* top: -430px;
  left: 550px; */
  font-size: 20px;
  color: #ffffff;
  line-height: 32px; 
  cursor: text;
}

.cvbutton{
  background: #1D74DF;
  border-radius: 4px;
  width: 166px;
  height: 50px;
  margin-top: 20px;
  margin-left: auto;
  position: relative;
  /* left: 550px;
  top: -430px; */
  border: none;
  transition: 0.3s;
  cursor: pointer;
}

.cvbutton:hover {
  background: #3990FA;
}

.cvtext{
  font-family: 'Arial Rounded MT Bold', PingFangSC-Regular;
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: 2.0px;
  line-height: 26px;
  position: relative;
  margin: auto;
  text-align: center;
}


.copyright{
  color: #A5A7A8;
  font-family: Arial, PingFangSC-Regular;
  font-size: 14px;
  letter-spacing: 0.2px;
  margin-right: 20px;
  position: absolute;
  right: 0;
  top: 25px;
}

.declare{
  font-family: Arial, PingFangSC-Regular;
  font-size: 16px;
  color: #666666;
  letter-spacing: 0.14px;
  text-align: center;
  position: relative;
  margin-top: 120px;
  margin-bottom: 100px;
  /* top: -340px; */
  font-weight: lighter;
}

.sectiondevider{
  height: 60px;
  width: auto;
  position: relative;
  top: -260px;
}


/*section counter cards*/

.new-solutions {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.new-solutions > section {
  width: 500px;
  margin-bottom: 100px;
}

.new-solutions > section .title {
  font-family: 'Arial Rounded MT Bold', PingFangSC-Bold;
  font-size: 22px;
  color: #FFFFFF;
  letter-spacing: 0.22px;
  margin-bottom: 20px;
}

.new-solutions > section .content {
  position: relative;
  background-color: #454646;
  min-height: 366px;
}

.new-solutions > section .content.comming-soon::after {
  content: "COMING SOON";
  display: block;
  font-family: HelveticaNeue-Bold;
  font-size: 50px;
  color: #5F6061;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  height: 366px;
  line-height: 366px;
  text-align: center;
}

.solution_thumbnail {
  width: 500px;
  height: 366px;
  background-color: #454646;
}

.solution_thumbnail:hover {
  box-shadow: 0 6px 40px 0 #000000;
  transition: 0.3s;
  cursor: pointer;
}


.sideproject {
color: #444444;
}



.icon-bar{
  margin: 18px 0 0 0;
  float: right;
  position: relative;
  right: 186px;
  color: #ffffff;
  font-size: 14px;
}

.icon-bar a{
  text-align: center;
  color: #595B60;
  margin-right: 8px;
  cursor: pointer;
  text-decoration: none;
}

.icon-bar a:hover .iconfont{
  background: radial-gradient(white 60%, transparent 50%);
}

.icon-bar a:hover .email{
  color: #058DF4;
}

.icon-bar a:hover .zhihu{
  color: #0084FF;
}

.icon-bar a:hover .dribbble{
  color: #EA4C89;
}

.icon-bar a:hover .facebook{
  color: #4267B2;
}


@font-face {
  font-family: 'iconfont';  /* Project id 638266 */
  src: url('//at.alicdn.com/t/font_638266_k46s5do8wzi.woff2?t=1641357183894') format('woff2'),
       url('//at.alicdn.com/t/font_638266_k46s5do8wzi.woff?t=1641357183894') format('woff'),
       url('//at.alicdn.com/t/font_638266_k46s5do8wzi.ttf?t=1641357183894') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 28px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}